name: PHP build
on:
  [pull_request, push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [8.0, 8.1, 8.2, 8.3, 8.4]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Install dependencies
        run: composer install --prefer-dist --no-interaction --ansi

      - name: Running phpcs
        run: composer run-script cs

      # The yaml-sort-checker library requires PHP 8.1 or higher,
      # but we want to support older PHP versions,
      # so we install the library here
      # and not using composer.json
      - name: Running yaml-sort-checker
        if: ${{ matrix.php >= '8.1' }}
        run: composer run-script yaml-sort-check

      - name: Run tests
        run: php ./vendor/bin/phpunit
